<div class="text-center mt-3">
    <carousel>
        <slide>
          <div class="text-center py-5">
            <div class="lead">
              <p style="font: italic small-caps bold 16px/2 cursive;">Thực ra đối với tình yêu, càng đơn thuần sẽ càng hạnh phúc.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5">
            <div class="lead">
              <p style="font: italic small-caps bold 16px/2 cursive;">Ngày nào còn được sống trong tình yêu thì ngày đó chính là ngày tươi đẹp nhất trong cuộc đời mỗi người.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5">
            <div class="lead">
              <p style="font: italic small-caps bold 16px/2 cursive;">Một khi đã nắm chặt tay thì sẽ không bao giờ buông. Một khi đã yêu thương hết lòng thì sẽ không dễ dàng từ bỏ.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5">
            <div class="lead">
              <p style="font: italic small-caps bold 16px/2 cursive;">Cho đi tình yêu sẽ nhận lại hạnh phúc, hy vọng và ước mơ.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5">
            <div class="lead">
              <p style="font: italic small-caps bold 16px/2 cursive;">Yêu là chết ở trong lòng một ít.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5">
            <div class="lead">
              <p style="font: italic small-caps bold 16px/2 cursive;">Don’t stop giving love even if you don’t receive it. Smile and have patience.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5">
            <div class="lead">
              <p style="font: italic small-caps bold 16px/2 cursive;">Một khi đã nắm chặt tay thì sẽ không bao giờ buông. Một khi đã yêu thương hết lòng thì sẽ không dễ dàng từ bỏ.</p>
            </div>
          </div>
        </slide>
    </carousel>
</div>

<div class="container mt-3" *ngIf="userParams">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="d-flex mx-2">
            <label class="col-form-label">Age from:</label>
            <input 
                type="number" 
                class="form-control ms-1" 
                style="width: 70px;" 
                name="minAge" 
                [(ngModel)]="userParams.minAge">               
        </div>
        <div class="d-flex mx-2">
            <label class="col-form-label">Age from:</label>
            <input 
                type="number" 
                class="form-control ms-1" 
                style="width: 70px;" 
                name="maxAge" 
                [(ngModel)]="userParams.maxAge">               
        </div>

        <div class="d-flex px-2">
            <label class="col-form-label me-2">Show: </label>
            <select 
                name="gender" 
                style="width: 150px;" 
                class="form-select ms-1" 
                [(ngModel)]="userParams.gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                    {{gender.display}}
                </option>
            </select>
        </div>

        <button class="btn btn-primary ms-1" type="submit">Apply</button>
        <button (click)="resetFilter()" class="btn btn-info ms-1" type="submit">Reset</button>

        <div class="col">
            <div class="btn-group float-end">
                <button class="btn btn-primary"
                        name="orderBy"
                        [(ngModel)]="userParams.orderBy"
                        btnRadio="lastActive"
                        (click)="loadMembers()">Last Active</button>

                <button class="btn btn-primary"
                        name="orderBy"
                        [(ngModel)]="userParams.orderBy"
                        btnRadio="created"
                        (click)="loadMembers()">Newest members</button>        
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-2" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>